{% extends "bootstrap/base.html"  %}
{% block body %}

<div class="container">
  <div class="row align-items-end">
    <div class="col-sm-4">
        <h1 class="display-1">Flavority</h1>
        <p class="h2">Top {{message}} Social Media Celebs by Followers</p>
        </div>
    <div class="col-md-auto"> 
    <h1> --- </h1>
    <form class="form-inline" action="/" method="post">
      <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Email</label>
        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="http://instagram.com/">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="searchinput" class="sr-only">Search Input</label>
        <input type="text" name="searchfirstname" class="form-control" id="searchfirstname" placeholder="Firstname">
        <input type="text" name="searchlastname" class="form-control" id="searchlastname" placeholder="Lastname">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    </div>
  </div>
  

  <div class="row justify-content-center">
    {% for values in data: %}
    {% if loop.cycle('1','2','3','4') == '1': %}
    <div class="row justify-content-center">
    {% endif %}
    <div class="col-sm-3">
        <div class="card bg-light mb-3 border-dark" style="width: 28rem;">
          <h4 class="card-header">{{loop.index}} {{values[1]}} {{values[2]}}</h4>
          <div class="card-body">
          <a href="/{{values[0]}}"><img class="card-img-top img-thumbnail" src="{{ values[14]}}" alt="Card image cap"></a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="height: 35px;">Total {{(values[4]+values[10]) | BMk }} | {{(values[5]+values[11]) | BMk }} | {{(values[6]+values[12]) | BMk }}</li>
            <li class="list-group-item" style="height: 35px;">Instagram {{values[4] | BMk }} | {{values[5] | BMk }} | {{values[6] | BMk }}</li>
            <li class="list-group-item" style="height: 35px;">Twitter {{values[10] | BMk }} | {{values[11] | BMk }} | {{values[12] | BMk }}</li>
            <li class="list-group-item" style="height: 35px;">Facebook</li>
          </ul>
          <div class="card-footer">
            <p class="card-text"><small class="text-muted">Last updated: {{ values[-2] | ctime }}</small></p>
          </div>
        </div>
    </div>
    {% if loop.cycle('1','2','3','4') == '4': %}
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}

















